
.certifications {
  background: #000;
}

.certifications .wrapper {
  @include bp-max-width($medium) {
    padding-bottom: 0;
  }
}

.certifications--list {
  text-align: center;
}

.certifications--list-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px $base;
  background-image: $sprite-cert-logos;
  background-repeat: no-repeat;
  background-size: 228px auto;

  @include bp-min-width($medium) {
    margin: 0 40px;
  }
}

.certifications--list-item-01 {
  width: 228px;
  height: 62px;
}

.certifications--list-item-02 {
  width: 115px;
  height: 122px;
  background-position: 0 -63px;
}

.certifications--list-item-03 {
  width: 194px;
  height: 75px;
  background-position: 0 -187px;
}

