
.cta-section {
  background: #000;
  text-align: center;
}

.cta--title {
  margin-bottom: 12px;
  color: $pink;

  @include bp-min-width($medium) {
    margin-bottom: 36px;
  }
}

.cta--btn {
  @include bp-min-width($medium) {
    display: inline-block;
    margin-right: 20px;
  }
}

.cta-section--01 .cta--btn {
  @include bp-max-width($medium) {
    margin-bottom: 12px;
  }
}

.cta--phone-number {
  color: $pink;

  @include bp-min-width($medium) {
    display: inline-block;
    vertical-align: -5px;
  }
}