
.financing {
  background: $pink;
}

.financing--title {
  opacity: .85;
  margin-bottom: $base*1.5;
  color: #fff;
  font-family: $sans-cond;
  font-weight: $bold;
  text-transform: uppercase;
}

.financing--subtitle {
  max-width: 460px;
  margin-bottom: $base;
}

.financing--image {
  position: absolute;
  top: 0;
  width: 400px;
  height: 100%;
  background: $bg-financing no-repeat center bottom;
  background-size: 400px auto;

  @include bp-min-width($medium) {
    top: 0;
    right: -150px;
    width: 850px;
    height: 100%;
    background: $bg-financing-2x no-repeat center top;
    background-size: 850px auto;
  }
}