
.hero {
  @include cf;

  @include bp-min-width($medium) {
    margin-bottom: 100px;
    border-bottom: 1px solid $lt-grey;
  }
}

.hero .wrapper {
  @include bp-min-width($medium) {
    padding-top: $base*1.5;
    padding-bottom: $base*4;
  }
}

.hero--title {
  position: relative;
  z-index: 10;
  margin: 0 auto $base*7;
  text-align: center;

  @include bp-min-width($medium) {
    margin-bottom: $base*2;
  }
}

.hero--image {
  position: absolute;
  top: 0;
  left: -4%;
  right: -4%;
  width: 100%;
  height: 360px;
  background: $bg-hero no-repeat center bottom;
  background-size: 100% auto;

  @include bp-min-width($medium) {
    top: 0;
    left: -280px;
    width: 1000px;
    height: 100%;
    background: $bg-hero-2x no-repeat left bottom;
    background-size: 1000px auto;
  }
}

.hero-form {
  position: relative;
  z-index: 10;
  width: 360px;
  margin: 0 auto;
  padding: 30px 30px 0;
  background: linear-gradient($gradient-grey-1, $gradient-grey-2);

  @include bp-min-width($medium) {
    float: right;
    width: 296px;
  }
}

.hero-form--title {
  @include font-size(24px);
  margin-bottom: 18px;
  color: #fff;
  text-align: center;
}

.hero-form--title .icon-arrow {
  width: 24px;
  height: 24px;
  vertical-align: -3px;
  margin-right: 4px;
  fill: $pink;
}

.hero-form--input {
  background: $grey;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
}

.hero-form .form-item--date {
  margin-bottom: $base;
}

.hero-form .btn {
  width: 100%;
}

.hero-form .form-helper {
  @include font-size(13px);
  @include line-height(18px);
  padding: 36px 0;
  color: #fff;
  text-align: center;
}

