
.insurance .wrapper {
  @include bp-max-width($medium) {
    padding-top: 0;
  }
}

.insurance--image {
  position: relative;
  width: 100%;
  height: 300px;
  background: $bg-insurance-2x no-repeat center bottom;
  background-size: cover;

  @include bp-min-width($medium) {
    position: absolute;
    top: $base*3;
    right: -100px;
    width: 600px;
    height: 465px;
  }

  @include bp-min-width($large) {
    right: -70px;
  }
}

.insurance--title {
  @include absolute-center;
  @include font-size(42px);
  display: block;
  z-index: 10;
  opacity: .85;
  font-family: $sans-cond;
  font-weight: $bold;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @include bp-max-width($medium) {
    width: 100%;
  }

  @include bp-min-width($medium) {
    @include font-size(80px);
    line-height: .85;
  }
}

.insurance--title [class^="title__"] {
  display: block;

  @include bp-min-width($medium) {
    width: 480px;
  }
}