
.services .wrapper {
  @include bp-max-width($medium) {
    padding-bottom: $base*15;
  }
}

.services--image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  background: $bg-services no-repeat center bottom;
  background-size: 400px auto;

  @include bp-max-width($medium) {
    max-width: 400px;
    width: 100%;
  }

  @include bp-min-width($medium) {
    top: 0;
    right: -160px;
    width: 720px;
    height: 100%;
    background: $bg-services-2x no-repeat center bottom;
    background-size: 750px auto;
  }

  @include bp-min-width($large) {
    right: -40px;
  }
}

.services--image-title {
  @include font-size(42px);
  margin-bottom: $base;
  font-family: $sans-cond;
  font-weight: $bold;
  text-transform: uppercase;

  @include bp-min-width($medium) {
    @include font-size(136px);
    position: absolute;
    top: $base*3;
    right: 0;
    z-index: 10;
    opacity: .85;
    line-height: .75;
    text-align: right;
  }
}

.services--image-title [class^="title__"] {
  @include bp-min-width($medium) {
    display: block;
  }
}
