
.next-steps {
  background: url('/dist/images/pattern-stripe.png');
  background-size: 12px 12px;
}

.next-steps .wrapper {
  @include bp-min-width($medium) {
    padding: $base*4 0 $base*2;
  }
}

.next-steps .section-title {
  text-align: center;

  @include bp-min-width($medium) {
    @include horizontal-center(absolute);
    top: -25px;
  }
}

.next-steps .col-1-3:not(:last-child) {
  @include bp-max-width($medium) {
    margin-bottom: $base*1.5;
  }
}

.steps--icon {
  width: 100%;
  margin-bottom: 12px;
  text-align: center;

  @include bp-max-width($medium) {
    height: 220px;
  }
}

.steps--title {
  margin-bottom: 12px;
  color: $pink;
}

.steps--content {
  background: #fff;
  padding: 30px;
  text-align: center;
}