
$black:    #252525;

$dk-pink:  #ba0470;
$pink:     #ec008c;

$lt-grey:  #b7bbbc;
$grey:     #878686;

$gradient-grey-1:  #5d5d5d;
$gradient-grey-2:  #343434;

$blue:     #00b2f0;
$teal:     #77ccca;
$yellow:   #fff33d;
$orange:   #f7941e;

$green:    #4caf50;
$red:      #f44336;