
$black:    #252525;

$dk-pink:  #ba0470;
$pink:     #ec008c;

$green:    #4caf50;

$red:      #f44336;

$lt-grey:  #b7bbbc;
$grey:     #878686;

$gradient-grey-1:  #5d5d5d;
$gradient-grey-2:  #343434;