
@font-face {
  font-family: 'akzidenzgrotesk-cond';
  font-weight: 400;
  src: url('/src/fonts/akzidenzgrotesk-cond-webfont.eot');
  src: url('/src/fonts/akzidenzgrotesk-cond-webfont.eot?#iefix') format('embedded-opentype'),
       url('/src/fonts/akzidenzgrotesk-cond-webfont.woff2') format('woff2'),
       url('/src/fonts/akzidenzgrotesk-cond-webfont.woff') format('woff'),
       url('/src/fonts/akzidenzgrotesk-cond-webfont.ttf')  format('truetype'),
       url('/src/fonts/akzidenzgrotesk-cond-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'akzidenzgrotesk-cond';
  font-weight: 700;
  src: url('/src/fonts/akzidenzgrotesk-boldcond-webfont.eot');
  src: url('/src/fonts/akzidenzgrotesk-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
       url('/src/fonts/akzidenzgrotesk-boldcond-webfont.woff2') format('woff2'),
       url('/src/fonts/akzidenzgrotesk-boldcond-webfont.woff') format('woff'),
       url('/src/fonts/akzidenzgrotesk-boldcond-webfont.ttf')  format('truetype'),
       url('/src/fonts/akzidenzgrotesk-boldcond-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'ITC-avant-garde';
  font-weight: 400;
  src: url('/src/fonts/ITCAvantGardeStd-Bk.eot');
  src: url('/src/fonts/ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'),
       url('/src/fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'),
       url('/src/fonts/ITCAvantGardeStd-Bk.woff') format('woff'),
       url('/src/fonts/ITCAvantGardeStd-Bk.ttf')  format('truetype'),
       url('/src/fonts/ITCAvantGardeStd-Bk.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'ITC-avant-garde';
  font-weight: 700;
  src: url('/src/fonts/ITCAvantGardeStd-BoldCn.eot');
  src: url('/src/fonts/ITCAvantGardeStd-BoldCn.eot?#iefix') format('embedded-opentype'),
       url('/src/fonts/ITCAvantGardeStd-BoldCn.woff2') format('woff2'),
       url('/src/fonts/ITCAvantGardeStd-BoldCn.woff') format('woff'),
       url('/src/fonts/ITCAvantGardeStd-BoldCn.ttf')  format('truetype'),
       url('/src/fonts/ITCAvantGardeStd-BoldCn.svg#svgFontName') format('svg');
}
