
$img-url: '/dist/images/';

$icon-arrow-pink: url("#{$img-url}icon-arrow-pink.svg");
$icon-arrow-white: url("#{$img-url}icon-arrow-white.svg");

$bg-hero: url("#{$img-url}bg-hero.jpg");
$bg-hero-2x: url("#{$img-url}bg-hero-2x.jpg");

$bg-services: url("#{$img-url}bg-services.jpg");
$bg-services-2x: url("#{$img-url}bg-services-2x.jpg");

$bg-insurance-2x: url("#{$img-url}bg-insurance-2x.png");

$sprite-cert-logos: url("#{$img-url}sprite-cert-logos.png");
