

$sans: 'ITC-avant-garde', Helvetica, arial, sans-serif;
$sans-cond: 'akzidenzgrotesk-cond', Helvetica, arial, sans-serif;

$base:  24px;

$book:  400;
$bold:  700;

body {
  font: $book 1em/1.5em $sans;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
}

strong, b {
  font-weight: $bold;
}

em {
  font-style: italic;
}

.section-title {
  @include font-size(19px);
  @include line-height(24px);
  max-width: 420px;
  margin-bottom: 36px;

  @include bp-min-width($medium) {
    @include font-size(28px);
    @include line-height(32px);
    max-width: 600px;
  }
}

.section-title--line {
  display: inline-block;
  margin-bottom: 8px;
  padding: 16px 16px 14px;
  background: $black;
  color: #fff;
}

.title__xlarge {
  @include bp-min-width($medium) {
    @include font-size(60px);
  }

  @include bp-min-width($large) {
    @include font-size(76px);
  }
}

.title__large {
  @include font-size(19px);
    @include line-height(24px);

  @include bp-min-width($medium) {
    @include font-size(28px);
    @include line-height(36px);
  }
}

.title__medium {
  @include font-size(19px);
}

.title__small {
  @include font-size(17px);
}

.title__xsmall {
  @include font-size(15px);
}

.title__xxsmall {
  @include font-size(13px);
}

.title__blue {
  color: $blue;
}

.title__teal {
  color: $teal;
}

.title__yellow {
  color: $yellow;
}

.title__pink {
  color: $pink;
}

.title__orange {
  color: $orange;
}

.title__black {
  color: $black;
}

.section-content p:last-of-type {
  max-width: 400px;
}

