
.arrow-list {
  margin-bottom: 36px;
}

.arrow-list--item {
  @include font-size(28px);
  @include line-height(42px);
  padding-left: 40px;
  background: $icon-arrow-pink no-repeat 0 10px;
  background-size: 14px 14px;

  @include bp-min-width($medium) {
    @include font-size(28px);
    @include line-height(42px);
  }
}

.arrow-list--item__white-arrow {
  background-image: $icon-arrow-white;
}