
.header {
  @include cf;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid $lt-grey;

  @include bp-max-width($large) {
    padding: 12px 0;
  }

  @include bp-min-width($large) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: 72px;
    padding-top: 16px;
  }
}

.header .wrapper {
  padding: 0;
}

.header-logo {
  @include font-size(38px);
  font-family: $sans-cond;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;

  @include bp-max-width($large) {
    margin-bottom: 6px;
  }

  @include bp-min-width($large) {
    @include font-size(38px);
    float: left;
  }
}

.header-logo--link {
  color: #000;
}

.header-logo__pink {
  color: $pink;
}

.header-nav {
  text-align: center;

  @include bp-min-width($large) {
    float: right;
  }
}

.header-nav--item {
  @include font-size(14px);
  display: inline-block;
  margin: 0 4px;

  @include bp-min-width($large) {
    @include font-size(16px);
    margin: 0 12px;
  }

  @include bp-min-width($large) {
    @include font-size(18px);
    @include line-height(38px);
    float: left;
    margin-right: 40px;
  }
}

.header-nav--item a {
  color: $black;

  &:hover,
  &.is-active {
    color: $pink;
  }
}

